{% extends 'base.html' %}

{% block title %}博客详情{% endblock %}

{% block head %}
    {% comment %}引入代码高亮库{% endcomment %}
    <link rel="stylesheet" href="{% static 'highlight/styles/github-dark.min.css' %}">
    <script src="{% static 'highlight/highlight.min.js' %}"></script>
{% endblock %}

{% block main %}
    <h1>{{ blog.title }}</h1>
    <hr>
    <div class="mt-2">
        <img src="{% static "image/blog_pic.jpg" %}" height="32" width="32" class="rounded-circle">
        <span class="ms-2">{{ blog.author.username }}</span>
        <span class="ms-2">于</span>
        <span class="ms-2">{{ blog.publish_time | date:"Y年m月d日 h时i分" }}</span>发布
    </div>
    <hr>
    <div class="py-2">
        {% comment %}
        因为内容是来自富文本编辑器的
        所以用safe来保证html解析标签
        {% endcomment %}
        {{ blog.content|safe }}
    </div>
    <hr>
    <div class="mt-2">
        <h3>评论（{{ blog.comments.all | length }}）：</h3>
        <form action="{% url 'blog:pub_comment' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="blog_id" value="{{ blog.id }}">
            <div class="mt-2">
                <input type="text" class="form-control" placeholder="请输入评论" name="content">
            </div>
            <div class="text-end mt-2">
                <button class="btn btn-primary btn-outline-dark">评论</button>
            </div>
        </form>
    </div>
    <div>
        <ul class="list-group list-group-flush">
            {% for comment in blog.comments.all %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between text-bg-secondary">
                        <div class="user-info">
                            <img src="{% static 'image/blog_pic.jpg' %}" class="rounded-circle" width="40" height="40">
                            <span class="ms-2">{{ comment.author.username }}</span>
                        </div>
                        <div class="create-time" style="">{{ comment.publish_time | date:"Y年m月d日 h时i分" }}</div>
                    </div>
                    <div class="mt-2">{{ comment.content }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% comment %}引入代码高亮库{% endcomment %}
    <script>
    hljs.highlightAll();
    </script>

{% endblock %}
