{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block head %}{% endblock %}

{% block main %}
    <h1>博客列表</h1>
    {% comment %}
            row-cols-2代表每一行展示两页
            row-gap-4代表每一行之间的间距
        {% endcomment %}
    <div class="row mt-4 row-cols-2 row-gap-4">
        {% for blog in blogs %}
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <a href="{% url 'blog:blog_detail' blog_id=blog.id %}">{{ blog.title }}</a>
                    </div>
                    <div class="card-body" style="height: 120px">
                        {% comment %}striptags删掉所有html标签 truncatechars不能超过200个字符 {% endcomment %}
                        <p class="card-text">{{ blog.content | striptags | truncatechars:200 }}</p>
                    </div>
                    <div class="card-footer text-muted d-flex justify-content-between">
                        <div class="d-flex justify-content-between">
                            <img src="{% static 'image/blog_pic.jpg' %}" width="24" height="24"
                                 class="rounded-circle me-2">
                            <div>{{ blog.author.username }}</div>
                        </div>
                        类型：{{ blog.category }}
                        <div>发布时间：{{ blog.publish_time | date:"Y年m月d日 h时i分" }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
