{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block head %}{% endblock %}

{% block main %}
    <h1>博客列表</h1>
        {% comment %}
            row-cols-2代表每一行展示两页
            row-gap-4代表每一行之间的间距
        {% endcomment %}
    <div class="row mt-4 row-cols-2 row-gap-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <a href="#">Django笔记</a>
                </div>
                <div class="card-body" style="height: 120px">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-muted d-flex justify-content-between">
                    <div class="d-flex justify-content-between">
                        <img src="{% static 'image/blog_pic.jpg' %}" width="24" height="24" class="rounded-circle me-2">
                        <div>Fakerkaikai</div>
                    </div>
                    类型：技术记录
                    <div>发布时间：2024-01-23 11:29</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
