{% extends 'base.html' %}

{% block title %}发布博客{% endblock %}
{% block head %}
    <script src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/pub_blog.js' %}"></script>
    <!-- 引入wangeditor富文本编辑器的css文件、js文件、样式 -->
    <link rel="stylesheet" href="{% static 'wangeditor/style.css' %}">
    <script src="{% static 'wangeditor/index.js' %}"></script>
    <style>
        #editor-wrapper {
            border: 1px solid #ccc;
            z-index: 100;
        }

        #toolbar-container {
            border-bottom: 1px solid #ccc;
        }

        #editor-container {
            height: 500px
        }
    </style>
{% endblock %}
{% block main %}
    <h1>发布博客</h1>
    <div class="mt-3">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-2">
                <label class="form-label">标题</label>
                <input type="text" name="title" class="form-control">
            </div>
            <div class="mb-2">
                <label class="form-label">分类</label>
                <select name="category" class="form-select" id="select-category">
                    {% for val in categories %}
                        <option value="{{ val.id }}">{{ val.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-2">
                <label class="form-label">内容</label>
                {% comment %}
                    使用第三方wangEditor的富文本编辑器
                    {% endcomment %}
                <div id="editor-wrapper">
                    <div id="toolbar-container"><!-- 工具栏 --> </div>
                    <div id="editor-container"><!-- 编辑器 --></div>
                </div>
            </div>
            <div class="mb-2 text-end">
                <button class="btn btn-primary" id="submit-btn">发布</button>
            </div>
        </form>
    </div>
{% endblock %}
